{% extends 'base.html' %}

{% block content %}
<h2>Movie Review🍿</h2>

<form action="/reviews/create" method="post">
    {% csrf_token %}
    제목 : <input name="title"> <br>
    개봉년도 : <input name="release_year"> <br>
    장르 : <select name="genre">
        <option value="default">-------</option>
        <option value="action">action</option>
        <option value="comedy">comedy</option>
        <option value="drama">drama</option>
        <option value="romance">romance</option>
        <option value="SF">SF</option>
    </select> <br>
    별점 : <input name="star_score"> <br>
    러닝타임 : <input name="running_time"> <br>
    <p>리뷰 :</p> 
    <textarea name="content" cols="30" rows="10"> </textarea> <br>
    감독 : <input name="director"> <br>
    배우 : <input name="actor"> <br>
    <div>
        <input type="submit" value="save">
    </div>
</form>
{% endblock %}