{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="sub_title">
        <h2 class="sub_title_one">Idea List</h2>
        <p>나의 아이디어를 잊지말고 기록해보세요</p>
    </div>

    <label for="sort">정렬 순서:</label>
    <select name="sort" id="sort" onchange="changeSort(this)">
        <option value="default">정렬순</option>
        <option value="name">이름순</option>
        <option value="created">등록순</option>
        <option value="like">관심도순</option>
    </select>

    <script>
        function changeSort(select) {
            var sortValue = select.value;
            window.location.href = "{% url 'ideas:main' %}?sort=" + sortValue;
        }
    </script>

    <div class="item_container">
        {% for idea in ideas %}
            <div class="item">
                {% if idea.photo.url != null and idea.photo.url != '' %}
                    <img src="{{ idea.photo.url }}" alt="대체텍스트">
                {% else %}
                    <img src="{% static 'ideas/image/no_img.png' %}" alt="대체텍스트">
                {% endif %}
                <div class="info">
                    <a href="{% url 'ideas:detail' idea.pk %}" class="title">{{idea.title}}</a>
                    <p class="tool">{{idea.tool}}</p>
                    <div class="like">
                        <i class="ri-add-line" id="plus"></i>
                        <p class="like" data-like="{{idea.like}}">{{idea.like}}</p>
                        <i class="ri-subtract-line" id="minus"></i>
                    </div>
                </div>   
            </div>
        {% endfor %}
    </div>
    
{% endblock %}